img, media {
  max-width: 100%;
}

body {
  background-image: url('../images/flagua.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: 82%;
}

/* No files to import found in partials/components/**\/* */
