body {
  font-size: 100%;
  margin: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

a{
    color: #42124c;
}