body {
    color: #1c3d4c;
    font-size: 100%;
}

h1 {
    color: green;
    float: left;
    letter-spacing: 2px;
    font-style: italic;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    /*color: hotpink;*/
    text-decoration: underline;
    background-color: lightgreen;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
    font-variant: small-caps;

}

a:focus {
    text-decoration: underline;
}
